/*
Brapp - style
Daan Rijpkema
 */

/* Navigation bar with logo */
.brappLogo {
	margin-right:32px;
}

#navBar {
	background: #d6e0eb;
	height:100px;
	margin-top:-20px;
	padding:20px 0 30px 20px;
	overflow: hidden;
}
#navBar .menu {
    padding:25px;
}

/* Styling of timesteps in timeline */
div.timestep {
    padding: 10px;
    margin: 10px;
    min-height: 100px;
    border: 1px solid #eee;
    box-shadow: 0 2px 5px #eee;
}

div.timestep p.description {
    font-size: 12pt;
}

div.timestep p.duration {
    font-size: 9pt;
}

div.timestep:hover {
    background-color: #efefef;
}

/* Section titles */
h4 {
    font-weight: bold;
    border-bottom: 2px dotted #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 25px;
}



.task-hidden {display: none !important;}