<html ng-app ng-controller="brappAppCtrl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{recipe.name}} &middot; Brewed Force</title>
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="icons/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/brapp.css">

	</head>
	<body>
		<div class="col-lg-12" id="navBar">
			<div class="menu pull-right">
				<a class="btn" data-toggle="modal" data-target="#recomputeRecipeModal" title="Nieuw">
					<i class="fa fa-beer"></i>
				</a>

				<a class="btn" data-toggle="modal" data-target="#exportRecipeModal" title="Export">
					<i class="fa fa-download"></i>
				</a>
			</div>
			<h2 class="pull-left brappLogo">
				<!-- <i class="fa fa-tint"></i> &nbsp;  -->
				Brewed Force
			</h2>
			<h3>
				{{recipe.name}}
			</h3>
		</div>
		<div class="modal fade" id="exportRecipeModal" tabindex="-1" role="dialog" aria-labelledby="exportRecipeModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="exportRecipeModalLabel">Huidige data exporteren</h4>
					</div>
					<div class="modal-body">
						<p>Download het huidige recept met brewlog hier: <br>
							<a class="btn btn-primary" ng-click="export()">Exporteer beerXML bestand</a>
							<a class="btn btn-primary" ng-click="exportLog()">Exporteer log as JSON</a>
						</p>
					</div>
					<!-- TODO: Close dialog? -->
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="recomputeRecipeModal" tabindex="-1" role="dialog" aria-labelledby="recomputeRecipeModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="recomputeRecipeModalLabel">Nieuw recept starten</h4>
					</div>
					<div class="modal-body">
						<div class="alert alert-danger">Let op: het starten van een nieuw recept zal de brewlog legen</div>

						<p>fermentables toevoegen</p>
						<p>hops toevoegen</p>
						<p>yeast toevoegen</p>

						<p>mash proces - stappen</p>

					</div>
					<div class="modal-footer">
						<a class="btn btn-success bnt-lg" data-dismiss="modal" ng-click="recompute()">
							Nieuw recept starten..
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- modal -->

		<div class="col-md-4">
			<div class="timeline">
				<h4>Tijdlijn</h4>

				<div class="timestep {{ timestep.cssClasses }}" data-timestep-id="{{ timestep.id }}" ng-repeat="timestep in timelineParsed | filter:false ">
					<!-- <p>Klaar? {{ timestep.done }}</p> -->

					<p>{{ timestep.description }}</p>
					<small>{{ timestep.duration }}</small>

					<p>
						<a href="#" class="pull-right btn" title="Brewlog" data-toggle="modal" data-target="#addBrewLogItem{{ timestep.id }}">
							<i class="fa fa-comment"></i>
						</a>
						&nbsp;
						<a href="#" ng-click="stepCompleted({{ timestep.id}})" class="pull-right btn" title="">
							<i class="fa fa-check"></i>
						</a>

						<!-- Modal -->
						<div class="modal fade" id="addBrewLogItem{{ timestep.id }}" tabindex="-1" role="dialog" aria-labelledby="addBrewLogItem{{ timestep.id }}Label" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title" id="addBrewLogItem{{ timestep.id }}Label">Brewlogitem toevoegen</h4>
									</div>
									<div class="modal-body">
										<input type="text" placeholder="New brewlog item.." ng-model="newLogItem" class="form-control" />

									</div>
									<div class="modal-footer">
										<a href="#" class="btn btn-primary" ng-click="addLogItem(newLogItem,timestep.id)" data-dismiss="modal">Log this</a>
									</div>
								</div>
							</div>
						</div>
						<!-- modal -->
					</p>
					<br/>
				</div>

			</div>
			<hr>
			<a href="#" class="btn btn-danger" ng-click="resetSteps()">Reset steps completed</a>
		</div>
		<!-- divcolmd4 -->
		<div class="col-md-4">


			<h4>BrewLog</h4>
			<div class="addBrewLog">
				<h5>Add new brewlog item</h5>
				<div class="col-xs-8">
					<input type="text" placeholder="New brewlog item.." ng-model="newLogItem" class="form-control" />
				</div>
				<div class="col-xs-4">
					<a href="#" class="btn btn-primary" ng-click="addLogItem(newLogItem,-1)">Log this</a>
					<a href="#" class="btn btn-primary" ng-click="removeLogItems()">Empty</a>
				</div>

			</div>

			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Tijd</th>
						<th>Logitem</th>
						<th>Bij stap</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="logItem in brewLog">
						<td>{{ logItem.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</td>
						<td>{{ logItem.text }}</td>
						<td>{{ timelineParsed[logItem.timestepId].description }}</td>
					</tr>
				</tbody>
			</table>


			<h4>Maisschema</h4>

			<p>
				<strong>grainTemp</strong> {{ recipe.mash.grainTemp }}</p>
			<p>
				<strong>spargeTemp</strong> {{ recipe.mash.spargeTemp }}</p>
			<p>
				<strong>ph</strong> {{ recipe.mash.ph }}</p>
			<p>
				<strong>notes</strong> {{ recipe.mash.notes }}</p>
			<p>
				<strong>maisschema</strong>
			</p>
			<ol>
				<li ng-repeat="step in recipe.mash.steps">
					<p>
						<strong>{{step.name}}</strong>
					</p>

					<p>{{step.type}} van {{ step.temp }} Celsius tot {{ step.endTemp }} Celsius in {{ step.time }} minuten</p>
					<p>Waterratio: {{ step.waterRatio }}</p>
				</li>
			</ol>



			<h4>Berekende waarden</h4>
			<div id="log"></div>
		</div>
		<div class="col-md-4">
			<h4>Receptgegevens</h4>
			<p>
				<strong>Huidig recept</strong>: {{recipe.name}}
			</p>
			<p>
				<strong>Beschrijving</strong>: {{recipe.description}}</p>
			<p>
				<strong>Auteur</strong>: {{recipe.author}}</p>
			<hr>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Parameter</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td>
							boilSize
						</td>
						<td>
							{{recipe.boilSize}}
						</td>
					</tr>
					<tr>
						<td>
							batchSize
						</td>
						<td>
							{{recipe.batchSize}}
						</td>
					</tr>
					<tr>
						<td>
							servingSize
						</td>
						<td>
							{{recipe.servingSize}}
						</td>
					</tr>
					<tr>
						<td>
							steepEfficiency
						</td>
						<td>
							{{recipe.steepEfficiency}}
						</td>
					</tr>
					<tr>
						<td>
							steepTime
						</td>
						<td>
							{{recipe.steepTime}}
						</td>
					</tr>
					<tr>
						<td>
							mashEfficiency
						</td>
						<td>
							{{recipe.mashEfficiency}}
						</td>
					</tr>
					<tr>
						<td>
							style
						</td>
						<td>
							{{recipe.style}}
						</td>
					</tr>
					<tr>
						<td>
							ibuMethod
						</td>
						<td>
							{{recipe.ibuMethod}}
						</td>
					</tr>

				</tbody>
			</table>


			<h4>Ingredi&euml;nten</h4>
			<h5>Mout / vergistingen</h5>
			<ul>
				<li ng-repeat="fermentables in recipe.fermentables">
					{{ fermentables.name }}
					<small>{{ fermentables.weight }}</small>
				</li>
			</ul>

			<h5>Hops</h5>
			<ul>
				<li ng-repeat="spices in recipe.spices">
					{{ spices.name }}
					<small>{{ spices.weight }}</small>
				</li>
			</ul>

			<h5>Gist</h5>
			<ul>
				<li ng-repeat="yeast in recipe.yeast">
					{{ yeast.name }}
					<small>{{ yeast.weight }}</small>
				</li>
			</ul>
			<!-- {{ recipe.mash }} -->
		</div>
		<!-- colmd3 -->

		<!-- Includes -->
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script src="node_modules/jquery/dist/jquery.min.js">
		</script>
		<script src="node_modules/bootstrap/dist/js/bootstrap.min.js">
		</script>
		<script type="text/javascript" src="js/brauhaus.min.js"></script>
		<script type="text/javascript" src="js/brauhaus-beerxml.min.js"></script>
		<script type="text/javascript" src="js/brappApp.js"></script>

	</body>
</html>